<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>787291779275-dlcgdlfa80g9hs8iqitcktnomq6qcnnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787291779275-dlcgdlfa80g9hs8iqitcktnomq6qcnnn</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ9m832g9kSNFl5CjgdFxY0M1khKOu17o</string>
	<key>GCM_SENDER_ID</key>
	<string>787291779275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NsonsaKisala.ThreeAM</string>
	<key>PROJECT_ID</key>
	<string>threeam-251bd</string>
	<key>STORAGE_BUCKET</key>
	<string>threeam-251bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787291779275:ios:1da22b883890f69b</string>
	<key>DATABASE_URL</key>
	<string>https://threeam-251bd.firebaseio.com</string>
</dict>
</plist>